<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SentianceReactNativeSDKTestApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4E78449BC8FDAD6AE9EB5C3B8D83BB3C762DF07E</string>
				<key>dateExpires</key>
				<string>2020-09-24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BQC44BW32K.org.reactjs.native.example.SentianceReactNativeSDKTestApp2</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>BQC44BW32K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SentianceReactNativeSDKTestApp2.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d3de482d-24b6-4b85-9187-a8fc06c366af</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: org.reactjs.native.example.SentianceReactNativeSDKTestApp2</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BQC44BW32K</string>
				<key>name</key>
				<string>Shane Arthur</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
