<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SentianceReactNativeSDKTestApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4E78449BC8FDAD6AE9EB5C3B8D83BB3C762DF07E</string>
				<key>dateExpires</key>
				<string>2020-09-24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BQC44BW32K.org.reactjs.native.example.SentianceReactNativeSDKTestApp2</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BQC44BW32K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SentianceReactNativeSDKTestApp2.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>10239d6f-8ff0-42ab-9537-da50bd198c9f</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.reactjs.native.example.SentianceReactNativeSDKTestApp2</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BQC44BW32K</string>
				<key>name</key>
				<string>Shane Arthur</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
